<!DOCTYPE html>
<html>
<head>
	<title>登陆页面</title>
</head>
<body>
	<form method="post" action="/dologin">
		name: <input type="test" name="name"> <br>
		password: <input type="password" name="passwd"> <br>
		<input type="submit" value="submit">
	</form>
	<a href="/register">注册</a>
</body>
</html>