<!DOCTYPE html>
<html>
<head>
	<title>注册</title>
	<link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
	<!-- <form method="post" action="/doregister">
		id:<input type="test" name="id"><br>
		name :<input type="test" name="name"><br>
		password :<input type="test" name="passwd"><br>
		account :<input type="test" name="account"><br>
		<input type="submit" value="submit">
	</form>
	<a href="/login">登陆</a> -->


	<div id = "wrapper">
		<div id="main">
			<form method="post" action="/doregister">
				id:<input type="test" name="id" class="id"><br>
				name :<input type="test" name="name" class="name"><br>
				password :<input type="test" name="passwd" class="passwd"><br>
				account :<input type="test" name="account" class="account"><br>
				<input type="submit" value="submit" class="submit">
			</form>
			<a href="/login">登陆</a>
		</div>
	</div>
</body>
</html>